#filters {
    height: 8vh;
    display: flex;
    /* grid-template-columns: repeat(auto-fit, 100px); */
    /* justify-content: space-between; */
    /* row-gap: 10px; */
    width: 100%;
    /* box-shadow: 1px 1px 5px #5b5a5a; */
    border: 1px solid #000000;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 3px;
    position: fixed;
    left: 0;
    top: header.width;

}

.filter-card {
    width: 70px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: red;
    height: 100%;
    /* width: 100%; */
    /* row-gap: 3px; */
}

.filter-card:hover {
    /* box-shadow: inset 0px 0px 10px rgba(137, 137, 137, 0.57); */
    /* color: rgb(0, 0, 0); */
}

#filters a {
    text-decoration: none;
    font-size: 12px;
    /* color: black; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #585858;
    width: 100%;
    height: 100%;
}

#filters a:hover {
    color: rgb(32, 32, 32);
    text-shadow: 0px 0px 1px rgba(44, 44, 44, 0.655);
}

.filter_button {
    width: 100%;
    height: 100%;
    text-align: center;
}