body {
    margin: 0px;
    padding: 0px;
}

main {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    margin: auto;
}

header {
    height: 200px;
}

footer {
    height: 200px;
}

.image-gallery {
    height: 200px;
    display: grid;
    grid-gap: 2%;
    /* Adjust the gap size as per your preference */
    grid-template-columns: repeat(auto-fit, minmax(1fr, 150px));
}


.image-gallery img {
    min-height: 200px;
    max-height: 250px;
    /* width: auto;  */
    /* aspect-ratio: auto; */
    /* object-fit: fill; */
}